<div class="char-wealth">
    <div class="income-summary-wrapper">
        <div class="networth-wrapper">
            <span class="title">Current net worth</span>
            <br/>
            <div class="networth-inner-wrapper">
                <span class="networth" *ngIf="player.netWorthSnapshots[0].value > 0">
                    {{player.netWorthSnapshots[0].value}}c
                </span>
                <span class="networth-placeholder" *ngIf="player.netWorthSnapshots[0].value == 0">
                    Fetching data ...
                </span>
            </div>
        </div>
        <div class="networth-wrapper">
            <span class="title">Gain past hour</span>
            <br/>
            <div class="networth-inner-wrapper">
                <span class="networth">{{gain}}c</span>
            </div>
        </div>
        <div class="networth-wrapper">
            <span class="title">Powered by
                <a class="ninja-link" (click)="openLink('https://poe.ninja')">https://poe.ninja</a>
            </span>
        </div>
    </div>
    <div class="income-graph-wrapper">
        <app-income [player]="player" [view]="graphDimensions"></app-income>
    </div>
    <div class="networth-table-wrapper">
        <app-networth-table [player]="player"></app-networth-table>
    </div>
</div>