@import "./../../../../../assets/styles/_variables.scss";

.char-wealth {
    width: 684px;
    height: $content-height;
    border: 2px solid $main-border-color;
    background: $equipment-bg-color;
    position: relative;
    border-radius: 1px;
    transform-origin: top left;

    .income-graph-wrapper {
        padding: 25px;

        @media screen and (max-height: 950px) {
            display: none;
        }
    }

    .flex-area {
        display: flex;
        align-items: flex-end;
        justify-content: end;
        padding: 25px 25px 0px 25px;
        .right-aligned {
            margin-left: auto;
        }

        .extra-margin {
            margin-right: 25px;
        }

        .margin-left {
            margin-left: 25px;
        }
        
        &.wrapped {
            margin-right: -25px;
            margin-left: -25px;
        }
    }

    .graph-btns {
        @media screen and (max-height: 950px) {
            display: none;
        }
    }

    .income-summary-wrapper {
        padding: 25px;
        width: 100%;
        margin-bottom: 25px;

        .networth-wrapper {
            float: left;
            width: 33.333%;

            .title {
                font-size: 14px;

                .ninja-link {
                    color: $primary;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }

            .networth-inner-wrapper {
                margin-top: 10px;

                .networth {
                    color: $currency-chaos-color;
                }

                .networth-placeholder {
                    color: $networth-placeholder-color;
                }
            }
        }
    }

    .table-outer-wrapper {
        height: 45%;
        bottom: 25px;
        width: calc(100% - 50px);
        padding-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
        position: absolute;
        padding-bottom: 25px;
        @media screen and (min-height: 1200px) {
            height: 55%;
        }

        @media screen and (max-height: 950px) {
            height: 80%;
        }

        .networth-table-wrapper {
            height: calc(100% - 95px);
            overflow-y: scroll;
        }

        .search-form-wrapper {
            margin-top: 5px;
        }
    }

    .full-height-table {
        height: 75%;
    }
}