<h3 class="mat-h3 page-header">
    {{'PAGES.RECENT_PLAYERS.TITLE' | translate}}</h3>
<div>
    <mat-divider class="divider"></mat-divider>
    <p class="mat-body-1 text-wrap" *ngIf="genericPlayers.length == 0">
        Players you encounter in-game(through trading, public parties etc) will be listed here. <br/><br/>If their profile is not set to private, you will be able to inspect their currently equipped gear. 
    </p>
    <div class="inner-content-container">
        <div class="player-list-container">
            <app-player-list localList="true"></app-player-list>
        </div>
        <div class="char-profile-container">
            <app-char-profile localProfile="true"></app-char-profile>
        </div>
    </div>
</div>