
<h3 class="mat-h3 graph-title">{{title}}
  <span class="mat-caption caption-text">(updates when you change area, at most every 5 minutes)</span><mat-icon class="info-icon" matTooltip="Only data from the last hour is shared with your group">info</mat-icon>
</h3>
<div class="chart-container">
  <ngx-charts-line-chart *ngIf="visible" [view]="view" class="chart-container" [ngClass]="{'summary-chart': player == undefined}"
    [scheme]="colorScheme" [results]="dateData" [legend]="player == undefined" legendTitle="Players" (legendLabelClick)="onLegendLabelClick($event)"
    gradient="false" xAxis="true" yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Time" [xAxisTickFormatting]="axisFormat"
    animations="true" yAxisLabel="Net worth in Chaos" autoScale="true" showGridLines="true" [curve]="curve"
    (select)="select($event)">
    <ng-template #tooltipTemplate let-model="model">
      Net worth: {{ model?.value.toFixed(1) }} chaos
      <br> Time: {{ axisFormat(model?.name) }}
    </ng-template>
    <ng-template #seriesTooltipTemplate let-model="model">
      Net worth: {{ model[0]?.value.toFixed(1) }} chaos
      <br> Time: {{ axisFormat(model[0]?.name) }}
    </ng-template>
  </ngx-charts-line-chart>
</div>