@import "./../../../../assets/styles/_variables.scss";

.chart-container {
    fill: white;
}

.caption-text {
    color: $link-font-color;
}

.graph-title {
    margin-bottom: 30px !important;
}

.info-icon {
    cursor: pointer;
    float: right;
}

.mid-text-wrapper {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}