<div class="disconnected-container">
  <div class="disconnected-content-container">
    <h1 class="mat-h1">You been disconnected</h1>
    <div class="mat-body-1">
      This can be for multiple reasons. But we listed the most probable ones below.
      <ul>
        <li>We did an update (yey!)</li>
        <li>We closed your connection to the server because of inactivity</li>
        <li>We hade some connectivity issues between our server and your client</li>
      </ul>
      We recommend that you close the application, if prompted install the new update and keep gaming!
      <br/>
      <br/>
    </div>
    <p class="mat-body-1">
      Feel free to contact us on github or directly in-game if you experiece frequently disconnects.
    </p>
    <p class="mat-body-1">
      <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark')">github.com/viktorgullmark</a> ign: CojL
      <br/>
      <a class="inline-link" (click)="openLink('https://github.com/petterannerwall')">github.com/petterannerwall</a> ign: Umaycry
    </p>

  </div>
</div>