@import "./../assets/styles/_variables.scss";

.right-area {
    justify-content: end;
    margin-left: auto;
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    .window-icon {
        margin-left: 3px;
    }
    .right-link{
        justify-content: end;
    }
    .left-link{
        justify-content: start;
        margin-right: 15px;
    }
}

.mat-toolbar {
    background: $toolbar-bg-color;
    height: $toolbar-height;
    -webkit-app-region: drag;
    .toolbar-text {
        font-size: 18px;     
        text-transform: uppercase;
        &.title{
            letter-spacing: 6px;
            color: $primary;
            .version {
                color: $version-font-color;
                letter-spacing: 3px;
            }
        }
    }
}
