<div class="container">
  <form class="form login-form" [formGroup]="form" (ngSubmit)="login()">
    <h1 class="mat-h1 form-title">{{ 'ACCOUNT.INFORMATION' | translate}}</h1>
    <mat-form-field>
      <input matInput formControlName="accountName" placeholder="{{'ACCOUNT.NAME' | translate}}" (focusout)="getCharacterList()">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="sessionId" placeholder="{{'ACCOUNT.SESSIONID' | translate}}">
    </mat-form-field>

    <div [hidden]="characterList.length == 0 && charName != undefined">
      <mat-form-field>
        <mat-select formControlName="characterName" placeholder="{{'CHARACTER.NAME' | translate}}">
          <mat-option *ngFor="let item of characterList" [value]="item.name">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{'ACCOUNT.LOGIN' | translate}}</button>
  </form>
</div>