<div class="container">
  <mat-vertical-stepper linear="true" #stepper class="form login-form">
    <mat-step [stepControl]="accFormGroup">
      <form [formGroup]="accFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.NAME_INFO' | translate}}</ng-template>
        <mat-form-field>
          <input matInput formControlName="accountName" placeholder="{{'ACCOUNT.NAME' | translate}}" required>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button color="primary" matStepperNext>Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="leagueFormGroup">
      <form [formGroup]="leagueFormGroup">
        <ng-template matStepLabel>{{'LEAGUE.LEAGUE_INFO' | translate}}</ng-template>
        <span class="mat-body-1">If you can't fetch your characters. Go to <a class="external-link" (click)="openLink('https://www.pathofexile.com')">pathofexile.com</a> and set your profile to public, <br/>and make sure your character-list is set to visible</span><br/><br/>
        <mat-form-field>
          <mat-select formControlName="leagueName" placeholder="{{'LEAGUE.NAME' | translate}}" required>
            <mat-option *ngFor="let item of leagues" [value]="item.id">{{item.id}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" *ngIf="!isFetching" (click)="getCharacterList()">Fetch characters</button>
          <mat-progress-bar *ngIf="isFetching" class="progress-bar" color="primary" mode="indeterminate">
          </mat-progress-bar>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="charFormGroup">
      <form [formGroup]="charFormGroup">
        <ng-template matStepLabel>{{'CHARACTER.NAME_INFO' | translate}}</ng-template>
        <mat-form-field>
          <mat-select formControlName="characterName" placeholder="{{'CHARACTER.NAME' | translate}}" required>
            <mat-option *ngFor="let item of characterList" [value]="item.name">{{item.level}} - {{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="sessFormGroup" optional="true">
      <form [formGroup]="sessFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.SESSIONID_INFO' | translate}}</ng-template>
        <span class="mat-body-1">If you're not sure how to find your sessionId, visit <a class="external-link" (click)="openLink('https://www.pathofexile.com/forum/view-thread/1989935/page/9#p14857124')">this link</a></span><br/><br/>
        <mat-form-field>
          <input matInput formControlName="sessionId" type="password" placeholder="{{'ACCOUNT.SESSIONID' | translate}}">
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="validateSessionId()" type="button" [disabled]="sessFormGroup.controls.sessionId.value == ''">Validate</button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="(!sessionIdValid || needsValidation) && sessFormGroup.controls.sessionId.value != ''">Continue</button>
        </div>
        <span class="form-error" *ngIf="!sessionIdValid && !needsValidation && sessFormGroup.controls.sessionId.value != ''">{{'ERROR.SESSIONID_NOT_VALID' | translate}}</span>
      </form>
    </mat-step>
    <mat-step [stepControl]="pathFormGroup">
      <form [formGroup]="pathFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.FILEPATH_INFO' | translate}}</ng-template>
        <mat-form-field>
          <input matInput formControlName="filePath" placeholder="{{'ACCOUNT.FILEPATH' | translate}}" (focusout)="checkPath()" required>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="browse()" type="button">Browse file</button>
          <button mat-raised-button color="primary" type="button">Validate</button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="!pathValid">Continue</button>
        </div>
        <span class="form-error" *ngIf="!pathValid">{{'ERROR.PATH_NOT_VALID' | translate}}</span>
      </form>
    </mat-step>
    <mat-step #lastStep>
      <ng-template matStepLabel>Complete</ng-template>
      <span class="mat-body-1">We're using Google Analytics to track usage of our app in order to be able to improve it further.<br/>
      This data is not shared with anyone ever, and we don't track or save any data related to your character or items, only how you use ExileParty.<br/><br/>
      By clicking "Continue" you agree to this.</span><br/><br/>
      <div class="btn-grp">
        <button mat-raised-button color="primary" *ngIf="!isLoading" (click)="login()">Continue</button>
        <mat-progress-bar *ngIf="isLoading" class="progress-bar" color="primary" mode="indeterminate">
        </mat-progress-bar>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>