<div class="container">
  <mat-vertical-stepper linear="true" #stepper class="form login-form">
    <mat-step [stepControl]="accFormGroup" [completed]="accName != undefined">
      <form [formGroup]="accFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.NAME_INFO' | translate}}</ng-template>
        <mat-form-field>
          <input matInput formControlName="accountName" placeholder="{{'ACCOUNT.NAME' | translate}}" (focusout)="getCharacterList()">
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button color="primary" matStepperNext [disabled]="characterList.length == 0 && charName != undefined">Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="charFormGroup" [completed]="charName != undefined">
      <form [formGroup]="charFormGroup">
        <ng-template matStepLabel>{{'CHARACTER.NAME_INFO' | translate}}</ng-template>
        <mat-form-field>
          <mat-select formControlName="characterName" placeholder="{{'CHARACTER.NAME' | translate}}">
            <mat-option *ngFor="let item of characterList" [value]="item.name">{{item.level}} - {{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="sessFormGroup" optional="true" [completed]="sessId != undefined">
      <form [formGroup]="sessFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.SESSIONID_INFO' | translate}}</ng-template>
        <mat-form-field>
          <input matInput formControlName="sessionId" placeholder="{{'ACCOUNT.SESSIONID' | translate}}">
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="pathFormGroup" [completed]="filePath != undefined">
      <form [formGroup]="pathFormGroup">
        <ng-template matStepLabel>{{'ACCOUNT.FILEPATH_INFO' | translate}}</ng-template>
        <mat-form-field>
          <input matInput formControlName="filePath" placeholder="{{'ACCOUNT.FILEPATH' | translate}}" (focusout)="checkPath()" required>
        </mat-form-field>
        <div class="btn-grp">
          <button mat-raised-button class="btn-back" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="!pathValid">Continue</button>
        </div>
        <span class="form-error" *ngIf="!pathValid">{{'ERROR.PATH_NOT_VALID' | translate}}</span>
      </form>
    </mat-step>
    <mat-step #lastStep>
      <ng-template matStepLabel>Complete</ng-template>
      <div class="btn-grp">
        <button mat-raised-button color="primary" (click)="login()">Proceed to start partying</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>