@import "./../../../../../assets/styles/_variables.scss";

.char-equipment {
    width: 684px;
    height: 492px;
    border: 2px solid $main-border-color;
    background: $equipment-bg-color;
    border-radius: 1px;
    transform-origin: top left;

    .inner-container {
        position: relative;
        margin-left: 65px;
        app-equipment-slot{
            position: absolute;
        }
    }
}
