.vs/
packages/
ExileParty.Backend/obj/
ExileParty.Backend/bin/
ExileParty.Api/obj/
ExileParty.Api/bin/
ExileParty.Migrations/obj/
ExileParty.Migrations/bin/

ExileParty.Api/Properties/PublishProfiles/Local.pubxml.user
