.vs/
packages/
Exilence/obj/
Exilence/bin/
Exilence/appsettings.json

Exilence/Properties/PublishProfiles/Local.pubxml.user
Exilence/appsettings.Development.json
Exilence/Properties/PublishProfiles/
Exilence/Logs/