.vs/
packages/
Exilence/obj/
Exilence/bin/
Exilence/appsettings.json
LadderService/obj/
LadderService/bin/
Shared/obj/
Shared/bin/

Exilence/Properties/PublishProfiles/Local.pubxml.user
Exilence/appsettings.Development.json
Exilence/Properties/PublishProfiles/
Exilence/Logs/
ExilenceClient/networth.txt
