<ng-container *ngIf="!localList">
    <ng-container *ngFor="let league of playerLeagues">
        <h3 class="mat-h3">{{league.id}}</h3>
        <app-player-badge [contextMenu]="badgeMenu" [contextMenuSubject]="player" *ngFor="let player of league.players"
            [player]="player">
        </app-player-badge>
    </ng-container>
</ng-container>
<ng-container *ngIf="localList">
    <h3 class="mat-h3" *ngIf="genericPlayers.length > 0">Recently encountered players</h3>
    <app-player-badge *ngFor="let player of genericPlayers" localPlayer="true" [player]="player">
    </app-player-badge>
</ng-container>

<context-menu>
    <ng-template contextMenuItem (execute)="showMessage('/invite ' + $event.item.character.name)">
        Invite to party
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="showMessage('/whois ' + $event.item.character.name)">
        Send whois
    </ng-template>
    <!-- <ng-template contextMenuItem passive="true">
    Input something: <input type="text">
  </ng-template> -->
</context-menu>