<h1 mat-dialog-title><mat-icon class="dialog-icon-right" *ngIf="data.icon">{{data.icon}}</mat-icon>{{data.title}}</h1>
<div mat-dialog-content>
  <p>
    We are working on a rewrite of Exilence called <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence-next')">Exilence Next.</a><br/><br/>
    This means that Exilence will be deprecated shortly (when most of the core functionality has been ported).<br/><br/>Join our <a class="inline-link" (click)="openLink('https://discord.gg/yxuBrPY')">Discord</a> for more information.<br/><br/>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.title" cdkFocusInitial>Ok</button>
</div>