<h1 mat-dialog-title><mat-icon class="dialog-icon-right" *ngIf="data.icon">{{data.icon}}</mat-icon>{{data.title}}</h1>
<div mat-dialog-content>
  <p>
    We have replaced Exilence with a rewrite called <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence-next')">Exilence Next.</a><br/><br/>
    This means that Exilence (this app) is outdated.<br/><br/>Join our <a class="inline-link" (click)="openLink('https://discord.gg/yxuBrPY')">Discord</a> for more information.<br/><br/>
  </p>
</div>