<h3 class="mat-h3 page-header">{{'PAGES.SETTINGS.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<div class="tab-group-header">
  <mat-tab-group #tabGroup id="tabGroup" [(selectedIndex)]="selectedIndex">
    <mat-tab #currentGrpTab id="currentGrpTab" class="active">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">format_list_numbered</mat-icon>
        &nbsp;Stashtabs
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div [hidden]="selectedIndex != 0">
  <h3 class="mat-h3">
    {{'PAGES.SETTINGS.STASHTAB_LIST_HEADER' | translate}} <span class="mat-caption caption-text">(You can select at most 20 tabs)</span></h3>
  <div class="table-outer-wrapper">
    <div class="search-form-wrapper">
      <form class="form search-form" [formGroup]="form">
        <mat-form-field>
          <input matInput formControlName="searchText" placeholder="{{'STASH.SEARCH' | translate}}" class="search-text-input" (ngModelChange)="search()">
        </mat-form-field>
      </form>
    </div>
    <div class="stash-table-wrapper">
      <app-stashtab-list #table></app-stashtab-list>
    </div>
  </div>
</div>