@import "./../../../assets/styles/_variables.scss";


.table-outer-wrapper {
    .stash-table-wrapper {
        height: 680px;
        overflow-y: scroll;
        @media screen and (max-height: 960px) {
            height: 620px;
        }
        @media screen and (max-height: 910px) {
            height: 560px;
        }
        @media screen and (max-height: 840px) {
            height: 400px;
        }
    }
}

.setting-tab-content {
    margin-top: 25px;
}

.grid-header {
    background: #272727;
}

.flex-area {
    display: flex;
    align-items: flex-end;
    justify-content: end;

    .right-aligned {
        margin-left: auto;
        button {
            margin-left: 15px;
        }
    }
}

.btn-area-divider {
    margin-top: 15px;
}