<h3 class="mat-h3 page-header">{{'PAGES.SETTINGS.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<div class="tab-group-header">
  <mat-tab-group #tabGroup id="tabGroup" [(selectedIndex)]="selectedIndex">
    <mat-tab #stash id="stash" class="active" [disabled]="!sessionId">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">format_list_numbered</mat-icon>
        &nbsp;Stashtabs
      </ng-template>
    </mat-tab>
    <mat-tab #general id="keybinds">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">keyboard</mat-icon>
        &nbsp;Keybinds
      </ng-template>
    </mat-tab>
    <mat-tab #window id="window">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">laptop</mat-icon>
        &nbsp;Window
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div [hidden]="selectedIndex != 0">
  <h3 class="mat-h3">
    {{'PAGES.SETTINGS.STASHTAB_LIST_HEADER' | translate}}
    <span class="mat-caption caption-text">(You can select at most 20 tabs)</span>
  </h3>
  <div class="table-outer-wrapper">
    <div class="search-form-wrapper">
      <form class="form search-form" [formGroup]="form">
        <mat-form-field>
          <input matInput formControlName="searchText" placeholder="{{'STASH.SEARCH' | translate}}" class="search-text-input" (ngModelChange)="search()">
        </mat-form-field>
      </form>
    </div>
    <div class="stash-table-wrapper">
      <app-stashtab-list #table [validated]="sessionIdValid || sessionId == undefined"></app-stashtab-list>
    </div>
  </div>
</div>

<div [hidden]="selectedIndex != 1">
  <div class="keybinds-info-text">
    <p class="mat-body-1">
      This page lets you select custom keybindings for functions in the app, e.g reporting the current gain for your group.
      <br/> These keybinds will only be active when either Path of Exile or ExileParty is in focus.
    </p>
    <p class="mat-body-1">
      To avoid any conflicts with the keybinds, make sure the combination you select does not interfere with other macros or in-game
      binds.
    </p>
  </div>
  <div class="setting-tab-content">
    <mat-grid-list cols="9" rowHeight="50px">
      <!-- col-headers -->
      <mat-grid-tile [colspan]="3" [rowspan]="1" class="grid-header">
        <span class="grid-header-title">
          Event name
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="grid-header">
        <span class="grid-header-title">
          Modifier-key
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="grid-header">
        <span class="grid-header-title">
          Trigger-key
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="grid-header">
        <span class="grid-header-title">
          Enabled
        </span>
      </mat-grid-tile>
      <!-- keybinds -->
      <ng-container *ngFor="let keybind of keybinds">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          {{keybind.title}}
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <mat-select [(value)]="keybind.modifierKeyCode" [disabled]="!keybind.enabled">
              <mat-option value="None">None</mat-option>
              <mat-option *ngFor="let key of modifierKeys" value="{{key.name}}">{{key.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field>
            <mat-select [(value)]="keybind.triggerKeyCode" [disabled]="!keybind.enabled">
              <!-- <mat-option>None</mat-option> -->
              <mat-option *ngFor="let key of triggerKeys" value="{{key.name}}">{{key.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-checkbox [(ngModel)]="keybind.enabled"></mat-checkbox>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <mat-divider class="divider btn-area-divider"></mat-divider>
    <div class="flex-area">
      <div class="right-aligned">
        <button mat-raised-button color="primary" (click)="resetKeybinds()" type="button">{{'KEYBINDS.RESET' | translate}}</button>
        <button mat-raised-button color="primary" (click)="saveKeybinds()" type="button">{{'KEYBINDS.SAVE' | translate}}</button>
      </div>
    </div>

  </div>
</div>

<div [hidden]="selectedIndex != 2">
  <div class="setting-tab-content">
    <mat-checkbox class="setting-checkbox" [(ngModel)]="alwaysOnTop" (ngModelChange)="toggleAlwaysOnTop()">Set window always on top</mat-checkbox>
  </div>
</div>