@import "./../../../../assets/styles/_variables.scss";

.party-summary {
    height: $content-height;

    mat-form-field {
        max-width: 100% !important;
    }

    .export-area {
        float: right;
        margin-top: 15px;
        padding-left: 20px;
    }

    .income-graph-wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: 40px;
        
        @media screen and (max-height: 850px) {
            display: none;
        }
    }

    .flex-area {
        display: flex;
        align-items: flex-end;
        justify-content: end;

        .btn-grp {
            margin-left: auto;
            .extra-margin {
                margin-right: 25px;
            }
        }
    }

    .graph-btns {
        @media screen and (max-height: 850px) {
            display: none;
        }
    }

    .income-summary-wrapper {
        width: 100%;
        margin-bottom: 25px;

        .networth-wrapper {
            float: left;
            width: 12%;
            margin-right: 15px;

            .title {
                font-size: 14px;

                .ninja-link {
                    color: $primary;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }

            .networth-inner-wrapper {
                margin-top: 10px;

                .networth {
                    color: $currency-chaos-color;
                    > * {
                        color: $currency-chaos-color;
                    }
                }

                .networth-placeholder {
                    color: $networth-placeholder-color;
                }
            }
        } 
    }

    .table-outer-wrapper {
        margin-top: 25px;
        margin-bottom: 25px;
        .networth-table-wrapper {
            height: calc(100% - 155px);
        }

        .search-form-wrapper {
            margin-top: 10px;
        }
    }
}


.spinner-container {
    height: 5px;
}
