<div class="party-summary down-scale">
    <div class="income-summary-wrapper">
        <div class="networth-wrapper">
            <span class="title">Current net worth</span>
            <br />
            <div class="networth-inner-wrapper">
                <span class="networth with-icon" *ngIf="messageValueService.partyValue > 0">
                    <span>{{messageValueService.partyValue.toFixed(2)}}&nbsp;&nbsp;</span><img class="chaos-icon" />
                </span>
                <span class="networth-placeholder" *ngIf="messageValueService.partyValue == 0">
                    No data
                </span>
            </div>
        </div>
        <div class="networth-wrapper gain-wrapper">
            <span class="title">Gain per hour</span>
            <br />
            <div class="networth-inner-wrapper with-icon">
                <span class="networth">{{messageValueService.partyGain.toFixed(2)}}&nbsp;&nbsp;</span><img
                    class="chaos-icon" />
            </div>
        </div>
        <div *ngIf="electronService.isElectron()" class="networth-wrapper">
            <mat-form-field>
                <mat-label>Calculate gain over past</mat-label>
                <mat-select #fontSize value="{{gainHours}}" (selectionChange)="toggleGainHours($event)">
                    <mat-option value="1">1 hour</mat-option>
                    <mat-option value="2">2 hours</mat-option>
                    <mat-option value="3">3 hours</mat-option>
                    <mat-option value="5">5 hours</mat-option>
                    <mat-option value="10">10 hours</mat-option>
                    <mat-option value="24">24 hours</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex-area">
        <div class="btn-grp">
            <ng-container *ngIf="electronService.isElectron()">
                <button mat-raised-button color="accent" (click)="resetNetWorth()" type="button"
                    class="right-aligned extra-margin">{{'GRAPH.RESET_SELF'
                    | translate}}</button>
                <button mat-raised-button color="primary" (click)="popout()" type="button"
                    class="right-aligned extra-margin">{{'GRAPH.POPOUT'
                    | translate}}</button>
            </ng-container>
            <button mat-raised-button color="primary" *ngIf="!isGraphHidden" (click)="hideGraph()" type="button"
                class="graph-btns right-aligned">{{'GRAPH.HIDE'
                | translate}}</button>
            <button mat-raised-button color="primary" *ngIf="isGraphHidden" (click)="showGraph()" type="button"
                class="graph-btns right-aligned">{{'GRAPH.SHOW'
                | translate}}</button>

            <mat-form-field class="player-selection-field">
                <mat-label>Select player</mat-label>
                <mat-select #playerDd value="{{partyService.selectedFilterValue}}"
                    (selectionChange)="selectPlayer($event)">
                    <mat-option value="All players">All players</mat-option>
                    <mat-option *ngFor="let player of getPlayers()" value="{{player.character.name}}">
                        {{player.character.name}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </div>
    <div class="income-graph-wrapper" [hidden]="isGraphHidden">
        <app-income (hidden)="toggleGraph($event)" (removeSnapshot)="removeSnapshot()" [view]="graphDimensions">
        </app-income>
    </div>
    <div class="spinner-container">
        <mat-progress-bar *ngIf="incomeService.isSnapshotting && (partyService.selectedFilterValue == partyService.currentPlayer.character.name || partyService.selectedFilterValue == 'All players')" color="primary" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="table-outer-wrapper" [ngClass]="{'full-height-table': isGraphHidden }">
        <mat-tab-group #networthTabs id="networthTabs" [(selectedIndex)]="selectedIndex"
            (selectedTabChange)="handleTabEvent()">
            <mat-tab #networthTab id="networthTab" class="active">
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">attach_money</mat-icon>
                    &nbsp;Currency
                </ng-template>
            </mat-tab>
            <mat-tab #gainTab id="gainTab">
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">access_time</mat-icon>
                    &nbsp;Change in the past {{gainHours}} hour(s)
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="export-area">
            <button *ngIf="selectedIndex == 0" [disabled]="tableData == undefined || tableData.length == 0"
                mat-raised-button color="primary" (click)="export()" type="button"
                class="right-aligned extra-margin">Export</button>
            <button *ngIf="selectedIndex == 1" [disabled]="overtimeData == undefined || overtimeData.length == 0"
                mat-raised-button color="primary" (click)="export()" type="button"
                class="right-aligned extra-margin">Export</button>
        </div>
        <div class="search-form-wrapper" [hidden]="selectedIndex != 0">
            <form class="form search-form" [formGroup]="form">
                <mat-form-field>
                    <input matInput formControlName="searchText" placeholder="{{'CURRENCY.SEARCH' | translate}}"
                        class="search-text-input" (ngModelChange)="search()">
                </mat-form-field>
            </form>
        </div>
        <div class="networth-table-wrapper" [hidden]="selectedIndex != 0">
            <app-networth-table #table (filtered)="updateTableData($event)" [multiple]="true"></app-networth-table>
        </div>

        <div class="search-form-wrapper" [hidden]="selectedIndex != 1">
            <form class="form search-form" [formGroup]="form">
                <mat-form-field>
                    <input matInput formControlName="searchTextOverTime" placeholder="{{'CURRENCY.SEARCH' | translate}}"
                        class="search-text-input" (ngModelChange)="searchOverTime()">
                </mat-form-field>
            </form>
        </div>
        <div class="networth-table-wrapper" [hidden]="selectedIndex != 1">
            <app-networth-table #overTimeTable (filtered)="updateOverTimeData($event)"
                (differenceChanged)="updateDifference($event)" [multiple]="true" [showOverTime]="true">
            </app-networth-table>
        </div>

    </div>
</div>