<div class="char-ladder">
    <div class="info-container">
        <div class="info-wrapper">
            <p class="mat-body-1">
                This page displays the selected players current ranking on the ladder, as well as players close in the
                rankings.<br /><br />
                This page will be refreshed once every 5 minutes.
            </p>
        </div>
    </div>
    <div class="table-outer-wrapper">
        <div class="ladder-table-wrapper">
            <app-ladder-table #table [player]="player"></app-ladder-table>
        </div>
    </div>
</div>