@import "./../../../../../assets/styles/_variables.scss";

.char-maps {
    width: 684px;
    height: $content-height;
    border: 2px solid $main-border-color;
    background: $equipment-bg-color;
    position: relative;
    border-radius: 1px;
    transform-origin: top left;
}

.table-outer-wrapper {
    height: 90%;
    bottom: 25px;
    width: calc(100% - 50px);
    padding-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    position: absolute;

    .ladder-table-wrapper {
        height: calc(100% - 60px);
        overflow-y: scroll;
    }
}
