// colors
$bg-color: #303030;

$main-color: #611616;
$main-color-hover: #772121;

$error-color: #c52f3e;
$success-color: #2ea54a;

$font-color: #fff;

// margin & padding
$container-padding: 15px;

// fonts
$main-font: 'Roboto';