@import "./exile-party-theme.scss";

// general
$main-border-color: $accent;
$bg-color: #303030;
$toolbar-bg-color: #0a0a0a;
$drawer-bg-color: #151515;
$background-overlay: linear-gradient(rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.88));
$menu-item-color: #4b4b4b;
$error-color: $primary;
$stepper-bg-color: rgba(66, 66, 66, 0.67);

// character
$inventory-border-color: $accent;
$inventory-bg-color: rgba(21, 21, 21, 0.5);;
$equipment-border-color: #969696;
$equipment-bg-color: rgba(21, 21, 21, 0.5);;
$player-badge-bg-color: linear-gradient(to bottom right, #525252, #232323);
$player-badge-selected-bg-color: linear-gradient(to bottom right, #353535, #6d6d6d);
$recent-party-badge-bg-color: $player-badge-bg-color;
$recent-party-badge-hover-bg-color: linear-gradient(to bottom right, #5c5c5c, #6d6d6d);
$player-area-font-color: rgb(245, 146, 146);
$player-league-font-color: rgb(209, 243, 164);

// items
$item-bg-color: rgba(5, 4, 41, 0.52);
$item-weaponswap-bg-color: #191919;
$equipment-slot-bg-color: rgb(19, 19, 19);
$unidentified-item-color: #410c0c;
$unidentified-item-font-color: #e80000;

// item-tooltip
$item-tooltip-bg-color: rgba(0, 0, 0, 0.85);
$gem-tooltip-bg-color: $item-tooltip-bg-color;
$tooltip-separator-color: #555454;
$tooltip-header-bg-color: #000;
$rarity-normal-color: rgb(192, 192, 192);
$rarity-magic-color: #8888FF;
$rarity-rare-color: #EBEB57;
$rarity-unique-color: rgb(218, 122, 54);
$rarity-gem-color: #1ba29b;
$rarity-currency-color: #AD904B;
$rarity-questitem-color: rgb(110, 185, 48);
$flavour-text-color: #bb9031;
$corrupted-item-color: #e80000;
$enchant-mod-color: rgb(212, 224, 255);
$crafted-mod-color: rgb(207, 218, 247);
$tag-color: rgb(192, 192, 192);
$tag-bg-color: #e5e5f5;
$tag-font-color: #000;
$mod-life-color: lightcoral;
$mod-coldres-color: #B4BEDB;
$mod-fireres-color: #E8C489;
$mod-lightres-color:#E0E889;
$mod-mana-color: #7EB2E6;
$mod-chaosres-color: #D19CF0;


// padding
$container-padding: 15px;
$content-container-padding: 15px 25px 15px 25px;

// fonts
$main-font: 'Roboto';
$font-color: #fff;

// width / height
$toolbar-height: 54px;
$content-height: calc(100% - 54px);