@import "./exile-party-theme.scss";

/* #region General */
$main-border-color: $accent;
$bg-color: #303030;
$toolbar-bg-color: #0a0a0a;
$drawer-bg-color: #151515;
$background-overlay: linear-gradient(rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.88));
$menu-item-color: #4b4b4b;
$error-color: $primary;
$stepper-bg-color: rgba(66, 66, 66, 0.8);
$version-font-color: rgb(206, 206, 206);
$link-font-color: rgb(206, 206, 206);
$external-link-color: $primary;
/* #endregion */

/* #region Player */
$inventory-border-color: $accent;
$inventory-bg-color: rgba(21, 21, 21, 0.5);
$inventory-placeholder-bg-color: #2a2a2a;
$inventory-placeholder-border-color: $accent;
$equipment-border-color: #969696;
$equipment-bg-color: rgba(21, 21, 21, 0.5);
$player-badge-bg-color: linear-gradient(to bottom right, #3a3a3a, #232323);
$player-badge-selected-bg-color: #505050;
$recent-party-badge-bg-color: $player-badge-bg-color;
$recent-party-badge-hover-bg-color: linear-gradient(to bottom right, #5c5c5c, #6d6d6d);
$player-area-font-color: rgb(219, 219, 219);
$player-league-font-color: rgb(209, 243, 164);
$player-rank-font-color: #ff5f95;
$currency-chaos-color: rgb(240, 204, 0);
$ranking-font-color: #fff;
$experience-font-color: #abaeff;
/* #endregion */

/* #region Item */
$item-bg-color: rgba(5, 4, 41, 0.52);
$item-weaponswap-bg-color: #191919;
$equipment-slot-bg-color: rgb(19, 19, 19);
$unidentified-item-color: #410c0c;
$unidentified-item-font-color: #e80000;
/* #endregion */

/* #region Item-tooltip */
$mod-generic-color: #9a9aff;
$item-tooltip-bg-color: rgba(0, 0, 0, 0.85);
$gem-tooltip-bg-color: $item-tooltip-bg-color;
$tooltip-separator-color: #555454;
$tooltip-header-bg-color: #000;
$rarity-normal-color: rgb(192, 192, 192);
$rarity-magic-color: #8888FF;
$rarity-rare-color: #EBEB57;
$rarity-unique-color: rgb(218, 122, 54);
$rarity-gem-color: #1ba29b;
$rarity-currency-color: #AD904B;
$rarity-questitem-color: rgb(110, 185, 48);
$flavour-text-color: #bb9031;
$corrupted-item-color: #f12828;
$elder-item-color: #60ffaf;
$elder-bg-color: rgba(89, 236, 168, 0.07);
$shaper-item-color: #ffe260;
$shaper-bg-color: rgba(177, 253, 130, 0.15);
$enchant-mod-color: rgb(212, 224, 255);
$crafted-mod-color: rgb(207, 218, 247);
$tag-color: rgb(192, 192, 192);
$tag-bg-color: #e5e5f5;
$tag-font-color: #000;
$mod-life-color: $mod-generic-color;
$mod-coldres-color: $mod-generic-color;
$mod-fireres-color: $mod-generic-color;
$mod-lightres-color:$mod-generic-color;
$mod-mana-color: $mod-generic-color;
$mod-chaosres-color: $mod-generic-color;
$networth-placeholder-color: rgb(206, 206, 206);
$stat-placeholder-color: rgb(206, 206, 206);
$stat-color: rgb(206, 206, 206);
$descr-text-secondary-color: rgb(0, 167, 167);
/* #endregion */

/* #region Padding & Margin */
$container-padding: 15px;
$content-container-padding: 5px 25px 5px 25px;
/* #endregion */

/* #region Font */
$main-font: 'Roboto';
$font-color: #fff;
/* #endregion */

/* #region Width & Height */
$toolbar-height: 40px;
$content-height: calc(100% - 40px);
/* #endregion */