@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exile-party-theme.scss";

.exile-party {
    @include angular-material-theme($exileparty-theme);
}

/* #region General */
html, body {
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $bg-color;
    height: 100%;
    font-family: $main-font;
    font-size: 15px;
}

.external-link {
    color: $external-link-color;
}

.no-margin {
    margin: 0 !important;
}

.top-margin {
    margin-top: 15px !important;
}

a {
    cursor: pointer;

    &.inline-link {
        color: $primary;
        text-decoration: none;
    }
}

.tab-group-header {
    margin-bottom: 10px;
}

.icon-link {
    cursor: pointer;
}

.page-header {
    margin-top: 10px !important;
}

.divider {
    margin-bottom: 20px !important;
}

.keybind-text {
    font-size: 12px;
}

.progress-spinner {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    margin: auto !important;
}
/* #endregion */

/* #region Scrollbar */
::-webkit-scrollbar {
    width: 25px;
    background: #333333;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #e4e4e4;
}

.tooltip {
    display: none;
    pointer-events: none;
    z-index: 9999;
    position: absolute;
}
/* #endregion */

/* #region Forms */
.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;

    mat-form-field {
        width: 100%;
    }

    button {
        margin-right: 15px;
    }

    &.login-form {
        width: 60%;
    }

    .form-error {
        color: $error-color;
    }
}

.form-title {
    text-align: right;
    text-transform: uppercase;
}

.btn-grp {
    margin-bottom: 15px;
}
/* #endregion */

/* #region Containers */
.container {
    position: absolute;
    top: $toolbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;
    background: $background-overlay, url("./../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
        width: 100%;
    }
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;

    .sidenav-container {
        padding: 0 !important;
        width: 265px !important;
        padding: $container-padding;
    }

    .content-container {
        overflow: hidden;
        margin-left: 265px !important;
        padding: $content-container-padding;
        background: $background-overlay, url("./../img/secondary-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        > *:not(router-outlet) {
            width: 100%;
            height: $content-height;
        }
    }
}

.inner-content-container {
    height: $content-height;
    display: flex;
}

.dashboard-content-container {
    height: $content-height;
    max-width: 1000px;
}

.loading-container {
    color: $font-color;
    background: $bg-color;
    width: 100%;
    height: 100%;

    .loading-content {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* #endregion */

/* #region Responsitivity */
.down-scale-inventory {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;

    @media screen and (max-height: 975px) {
        transform-origin: top left;
        transform: scale(0.975);
    }

    @media screen and (max-height: 940px) {
        transform-origin: top left;
        transform: scale(0.9);
    }

    @media screen and (max-height: 910px) {
        transform-origin: top left;
        transform: scale(0.85);
    }

    @media screen and (max-height: 860px) {
        transform-origin: top left;
        transform: scale(0.8);
    }

    @media screen and (max-height: 810px) {
        transform-origin: top left;
        transform: scale(0.75);
    }
}
/* #endregion */

/* #region Override classes for Material */
.legend-label:hover, .active, .legend-label-text, .chart-legend {
    color: #fff !important;
}

.mat-tab-label-container {
    z-index: auto !important;
}

mat-vertical-stepper {
    background-color: $stepper-bg-color !important;
}

.mat-table {
    background: #272727 !important;
}

.mat-tab-label, .mat-tab-link {
    font-size: 14px !important;
}

.mat-toolbar-single-row {
    padding: 0 10px !important;
}

.mat-h3 {
    font-weight: 500 !important;
    font-size: 17px !important;
}

.mat-header-cell {
    font-size: 14px !important;
}

.mat-paginator {
    background: #2f2f2f !important;
}
/* #endregion */