@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body {
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $bg-color;
    height: 100%;
    font-family: $main-font;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 64px); // height of single-row toolbar

    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }
}

.container > * {
    width: 100%;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 64px); // height of single-row toolbar

    .sidenav-container {
        padding: $container-padding;
    }

    .content-container {
        padding: $container-padding;
    }
}
