@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "./exile-party-theme.scss";

.exile-party {
    @include angular-material-theme($exileparty-theme);
}

html, body {
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $bg-color;
    height: 100%;
    font-family: $main-font;
}

.fade {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tooltip {
    display: none;
    pointer-events: none;
    z-index: 9999;
    position: absolute;
}

.no-margin {
    margin: 0 !important;
}

a {
    cursor: pointer;
    &.inline-link{
        color: $primary;
        text-decoration: none;
    }
}

.container {
    position: absolute;
    top: $toolbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;
    background: linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.92)), url("./../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;

    mat-form-field {
        width: 100%;
    }

    &.login-form {
        width: 30%;
    }
}

.progress-spinner{
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    margin: auto !important;
}

.form-title {
    text-align: right;
    text-transform: uppercase;
}

.container > * {
    width: 100%;
}

.icon-link {
    cursor: pointer;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;

    .sidenav-container {
        padding: 0 !important;
        width: 265px !important;
        padding: $container-padding;
    }

    .content-container {
        overflow: hidden;
        padding: 15px 25px 15px 25px;
        margin-left: 265px !important;
        padding: $content-container-padding;
        background: linear-gradient(rgba(24, 24, 24, 0.9), rgba(24, 24, 24, 0.92)), url("./../img/secondary-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        > *:not(router-outlet) {
            width: 100%;
            height: $content-height;
        }   

    }
}

.divider {
    margin-bottom: 20px !important;
}

.inner-content-container {
    height: $content-height;
    display: flex;
}

.dashboard-content-container {
    height: $content-height;
    max-width: 1000px;
}
