@import "./../../../../../assets/styles/variables";

.tooltip-content {
    // min-width: 400px;
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
    border: 1px solid $tooltip-separator-color;
    
    min-width: 350px;

    &.hidden {
        opacity: 0;
    }

    &.inner-content 
    {   
        padding: 5px;
        float: left;
        background: $item-tooltip-bg-color;
    }
}
