@import "./../../../../../assets/styles/variables";

.tooltip-content {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
    border: 1px solid $tooltip-separator-color;

    width: 600px;

    &.hidden {
        opacity: 0;
    }

    &.inner-content 
    {   
        padding: 5px;
        float: left;
        background: $item-tooltip-bg-color;
    }
}
