@import "./../../../../assets/styles/_variables.scss";

table {
    width: 100%;
}

.mid-text-wrapper {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

td {
    min-height: 48px;

    &.active {
        background: #251c20 !important;
    }

    &.ranking {
        color: $ranking-font-color !important;
    }

    &.experience {
        color: $experience-font-color !important;
    }

    &.depth-solo {
        color: $depth-solo-font-color !important;
    }

    &.depth-group {
        color: $depth-group-font-color !important;
    }

    &.challenges {
        color: $challenges-font-color !important;
    }

    &.Scion, &.Ascendant {
        color: $depth-group-font-color !important;
    }
    &.Witch, &.Elementalist, &.Occultist, &.Necromancer {
        color: $class-witch-font-color !important;
    }
    &.Shadow, &.Saboteur, &.Trickster, &.Assasin {
        color: $class-shadow-font-color !important;
    }
    &.Ranger, &.Deadeye, &.Raider, &.Pathfinder {
        color: $class-ranger-font-color !important;
    }
    &.Duelist, &.Slayer, &.Gladiator, &.Champion {
        color: $class-duelist-font-color !important;
    }
    &.Marauder, &.Cheiftain, &.Juggernaut, &.Berserker {
        color: $class-marauder-font-color !important;
    }
    &.Templar, &.Inquisitor, &.Hierophant, &.Guardian {
        color: $class-templar-font-color !important;
    }



    .status-icon {
        color: rgb(131, 0, 0);
        height: 21px;
        width: 21px;
        font-size: 21px;
    }

    .online {
        color: rgb(0, 110, 0);
    }
}

