<ng-container *ngIf="dataSource.length > 0">
  <table mat-table [dataSource]="source" class="mat-elevation-z8" matSort matSortActive="rank" matSortDisableClear
    matSortDirection="asc">

    <ng-container matColumnDef="online">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }">
        <mat-icon (click)="minimize()" class="status-icon" [ngClass]="{'online': element.online }">fiber_manual_record</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="rank"> Rank </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="ranking">
        {{element.rank}} </td>
    </ng-container>

    <ng-container matColumnDef="challenges">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="challenges"> Challenges </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="challenges">
        {{element.challenges}} </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="level"> Level </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }">
        {{element.level}} </td>
    </ng-container>

    <ng-container matColumnDef="account">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="account"> Account </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }">
        {{element.account}} </td>
    </ng-container>

    <ng-container matColumnDef="character">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="character"> Character </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }">
        {{element.character}} </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="class"> Class </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="{{element.class}}">
        {{element.class}} </td>
    </ng-container>

    <ng-container matColumnDef="classRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="classRank"> Class Rank </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }">
        {{element.classRank}} </td>
    </ng-container>

    <ng-container matColumnDef="depthSolo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="depthSolo"> Depth (Solo) </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="depth-solo">
        {{element.depthSolo}} </td>
    </ng-container>

    <ng-container matColumnDef="depthSoloRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="depthSoloRank"> Depth Rank (Solo) </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="depth-solo">
        {{element.depthSoloRank}} </td>
    </ng-container>

    <ng-container matColumnDef="depthGroup">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="depthGroup"> Depth </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="depth-group">
        {{element.depthGroup}} </td>
    </ng-container>

    <ng-container matColumnDef="depthGroupRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="depthGroupRank"> Depth Rank </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="depth-group">
        {{element.depthGroupRank}} </td>
    </ng-container>

    <ng-container matColumnDef="experiencePerHour">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="experiencePerHour"> Exp / hour </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'active': element.character === selectedPlayerValue }" class="experience">
        {{element.experiencePerHour}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[13]" showFirstLastButtons></mat-paginator>
</ng-container>