<h3 class="mat-h3 page-header">{{'PAGES.DASHBOARD.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<div class="dashboard-content-container">
    <div class="recent-container" *ngIf="recentParties.length > 0">
        <div class="recent-party-container">
            <div class="party-headline-container">
                <h3 class="mat-h3 party-headline">Recent groups</h3>
                <span> (click to join)</span>
            </div>
            <div class="recent-party-badge-container" *ngFor="let party of recentParties, let i = index">
                <mat-card class="recent-party-badge" [ngClass]="{'current-party-badge': party === partyService.party.name }" (click)="joinParty(party)" *ngIf="i < 4">
                    <mat-icon (click)="$event.stopPropagation(); removePartyFromRecent(party)" class="close-icon">close</mat-icon>
                    {{checkMask(party, i)}}
                </mat-card>
            </div>
        </div>
    </div>
    <h3 class="mat-h3">Changes included in version {{appVersion}}</h3>
    <ul>
        <li>Added support to price the maptab (by setting it to public)</li>
        <li>Added column for gem-level in the net worth table</li>
        <li>Added tooltip to value in networth table to display more detailed data such as average, mode and mean</li>
        <li>Added colors to names for items in the net worth table, based on rarity</li>
        <li>Added file-output for gain and networth values, making it available for import in OBS</li>
        <li>Fixed a bug where maps in regular tabs werent included in the pricing</li>
        <li>Fixed a bug where the gain-table didn't display new items, only the difference between current ones</li>
        <li>Fixed a bug where items of zero value would sometimes be included in pricing</li>
        <li>Updated SignalR package</li>
        <li>Removed negotiate-step for websockets, now connects directly instead</li>
        <li>Minor style tweaks to net worth table</li>
    </ul>
    <p class="mat-body-1">
        To see the full changelog, please go to <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence/blob/master/CHANGELOG.md')">this
            link
        </a>
    </p>
    <h3 class="mat-h3">Beta information</h3>
    <p class="mat-body-1">
        This version is a beta release, which means it's still in an early stage. Bug reports and feature-requests are
        greatly appreciated
        as it will help us develop the app further, and are preferrebly posted in our
        <a class="inline-link" (click)="openLink('https://discord.gg/ymr3VnA')">Discord</a> or directly at
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence/issues')">https://github.com/viktorgullmark/exilence/issues</a>.
        Updates will be applied automatically when you restart
        the program. Please be patient as it will download the new version and apply it before you can start using the
        application.
    </p>
    <p class="mat-body-1">
        Feel free to contact us on Discord or GitHub for any questions/input.
    </p>
    <p class="mat-body-1">
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark')">github.com/viktorgullmark</a>
        <br />
        <a class="inline-link" (click)="openLink('https://github.com/petterannerwall')">github.com/petterannerwall</a>
    </p>
</div>