<h3 class="mat-h3 page-header">{{'PAGES.DASHBOARD.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<div class="dashboard-content-container">
    <div class="recent-container" *ngIf="recentParties.length > 0">
        <div class="recent-party-container">
            <div class="party-headline-container">
                <h3 class="mat-h3 party-headline">Recent groups</h3>
                <span> (click to join)</span>
            </div>
            <div class="recent-party-badge-container" *ngFor="let party of recentParties, let i = index">
                <mat-card class="recent-party-badge" [ngClass]="{'current-party-badge': party === partyService.party.name }"
                    (click)="joinParty(party)" *ngIf="i < 4 && !(i > 0 && partyService.maskedName)">
                    <mat-icon (click)="$event.stopPropagation(); removePartyFromRecent(party)" class="close-icon">close</mat-icon>
                    {{checkMask(party, i)}}
                </mat-card>
            </div>
        </div>
    </div>
    <h3 class="mat-h3">Changes included in version {{appVersion}}</h3>
    <ul>
        <h4>Added</h4>
        <ul>
            <li>Added a spectator-mode, available on the web (https://exilence.app)</li>
            <ul>
                <li>To let users spectate your group, share the link in the top-right corner</li>
            </ul>
            <li>Added a ladder-overview tab, which replaces the smaller variant</li>
            <li>Added a area-overview tab, which replaces the smaller variant</li>
            <li>Added the following columns to the ladder-table</li>
            <li>Added the following columns to the ladder-table</li>
            <ul>
                <li>Challenges</li>
                <li>Class</li>
                <li>Class rank</li>
                <li>Depth</li>
                <li>Depth rank</li>
                <li>Depth solo</li>
                <li>Depth solo rank</li>
            </ul>
        </ul>
        <h4>Changed</h4>
        <ul>
            <li>Reworked how the ladder is parsed, resulting in more frequent updates</li>
        </ul>
        <h4>Removed</h4>
        <ul>
            <li>Removed the smaller variant of the ladder-tab</li>
            <li>Removed the smaller variant of the area-tab</li>
        </ul>
    </ul>
    <mat-divider class="divider"></mat-divider>
    <p class="mat-body-1">
        To see the full changelog, please go to <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence/blob/master/CHANGELOG.md')">this
            link
        </a>
    </p>
</div>