<h3 class="mat-h3 page-header">{{'PAGES.DASHBOARD.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<div class="dashboard-content-container">
    <div class="recent-container" *ngIf="recentParties.length > 0">
        <div class="recent-party-container">
            <div class="party-headline-container">
                <h3 class="mat-h3 party-headline">Recent groups</h3>
                <span> (click to join)</span>
            </div>
            <div class="recent-party-badge-container" *ngFor="let party of recentParties, let i = index">
                <mat-card class="recent-party-badge" [ngClass]="{'current-party-badge': party === partyService.party.name }"
                    (click)="joinParty(party)" *ngIf="i < 4 && !(i > 0 && partyService.maskedName)">
                    <mat-icon (click)="$event.stopPropagation(); removePartyFromRecent(party)" class="close-icon">close</mat-icon>
                    {{checkMask(party, i)}}
                </mat-card>
            </div>
        </div>
    </div>
    <h3 class="mat-h3">Changes included in version {{appVersion}}</h3>
    <ul>
        <li>Reworked how gain per hour is calculated</li>
        <li>Added a dialog for resolving errors related to fetching the character-list</li>
<li>Settings are now cached, to improve the performance of Exilence</li>
<li>Added a dialog for resolving errors related to fetching the character-list</li>
<li>Changed rate-limit for maps, net worth fluctuations should now be a rare occurence</li>
<li>Updated error-texts on login-screen</li>
<li>Updated informative text in maptab info-dialog</li>
<li>Minor text-changes</li>
    </ul>
    <p class="mat-body-1">
        To see the full changelog, please go to <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence/blob/master/CHANGELOG.md')">this
            link
        </a>
    </p>
    <h3 class="mat-h3">Beta information</h3>
    <p class="mat-body-1">
        This version is a beta release, which means it's still in an early stage. Bug reports and feature-requests are
        greatly appreciated
        as it will help us develop the app further, and are preferrebly posted in our
        <a class="inline-link" (click)="openLink('https://discord.gg/yxuBrPY')">Discord</a> or directly at
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exilence/issues')">https://github.com/viktorgullmark/exilence/issues</a>.
        Updates will be applied automatically when you restart
        the program. Please be patient as it will download the new version and apply it before you can start using the
        application.
    </p>
    <p class="mat-body-1">
        Feel free to contact us on Discord or GitHub for any questions/input.
    </p>
    <p class="mat-body-1">
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark')">github.com/viktorgullmark</a>
        <br />
        <a class="inline-link" (click)="openLink('https://github.com/petterannerwall')">github.com/petterannerwall</a>
    </p>
</div>