@import "./../../../assets/styles/_variables.scss";

.party-headline {
    display: inline;
}

.recent-container {
    height: 125px;
    .party-headline-container {
        width: 100%;
        margin-bottom: 15px;
    }
    .recent-party-badge-container {
        float: left;

        .recent-party-badge {
            cursor: pointer;
            background: $recent-party-badge-bg-color;
            margin-right: 15px;
            max-width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .close-icon {
                position: absolute;
                top: 3px;
                right: 3px;
                font-size: 15px;
                width: 15px;
                height: 15px;
            }
            &.current-party-badge {
                background: none;
                background-color: #c2185b;
            }
        } 

        :hover {
            background: $recent-party-badge-hover-bg-color !important;
        }
    }
}

.mat-body-1, ul > li {
 font-size: 13px !important;
}

.become-patron-button {
    display: inline-block;
    font-family: sans-serif;
    background: #e6461a;
    color: white;
    padding: .5rem 1rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 700;
    user-select: none;
    border: 1px solid #e6461a; /* Fuck you, Patreon. */
  }
  .patreon-icon {
    padding-right: 0.25rem;
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: normal;
  }