
@import "./../../assets/styles/_variables.scss";

.centered-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;


    &.text-block {
        width: 40%;
    }
}

.relaunch-btn{
    float:right;
}