<div class="container">
  <div class="content-container">
    <div class="centered-content text-block">
      <h1 class="mat-h1">You were disconnected</h1>
      <div class="mat-body-1">
        This can be caused for multiple reasons. But we listed the most probable ones below:
        <ul>
          <li>We did an update (yay!)</li>
          <li>We closed your connection to the server because of inactivity</li>
          <li>We noticed some connectivity issues between our server and your client</li>
        </ul>
        We recommend that you close the application fully, and if prompted, install the new update to keep gaming!
        <br/>
        <br/>
      </div>
      <p class="mat-body-1">
        Feel free to contact us on github or directly in-game if you experiece frequently disconnects.
      </p>
      <p class="mat-body-1">
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark')">github.com/viktorgullmark</a> ign: CojL
        <br/>
        <a class="inline-link" (click)="openLink('https://github.com/petterannerwall')">github.com/petterannerwall</a> ign: Umaycry
      </p>
    </div>
  </div>
</div>