@import "./../../../../assets/styles/_variables.scss";

.tab-icon {
    margin-right: 8px;
}

.tab-content {
    margin-top: 10px;
    height: calc(100% + 47px);
}

.profile-link {
    color: $primary;
    font-weight: 500;
    float: right;
    margin-top: -46px;
    margin-right: 10px;
    position: relative;
}