<h3 class="mat-h3">
    {{'PAGES.PARTY.TITLE' | translate}}</h3>
<mat-progress-bar *ngIf="partyService.isEntering" class="progress-bar" color="primary" mode="indeterminate">
</mat-progress-bar>
<div [hidden]="partyService.isEntering" class="group-wrapper">
    <mat-divider class="divider"></mat-divider>
    <div class="inner-content-container">
        <div class="player-list-container">
            <app-player-list></app-player-list>
        </div>
        <div class="char-profile-container">
            <app-char-profile></app-char-profile>
        </div>
    </div>
</div>