@import "./../../assets/styles/_variables.scss";

.league-label {
    color: $player-area-font-color;
}

.progress-bar {
    margin-top: 15px;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.divider {
  margin-top: 15px !important;
}