@import "./../../../../../../assets/styles/_variables.scss";
.socket-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-container-1 {
        width: 47px;
    }

    .inner-container-2 {
        width: 94px;
    }

    .inner-container-1,
    .inner-container-2 {
        display: inline-block;

        .socket-0-1,
        .socket-0-2,
        .socket-1-1,
        .socket-1-2,
        .socket-2-1,
        .socket-2-2,
        .socket-3-1,
        .socket-3-2,
        .socket-4-1,
        .socket-4-2,
        .socket-5-1,
        .socket-5-2 {
            position: relative;
            height: 47px;
            width: 47px;
            float: left;
        }

        .socket-2-1,
        .socket-2-2 {
            float: right !important;
        }

        .socket-3-1,
        .socket-3-2 {
            float: left !important;
        }

        .socket-I {
            background-image: url("./../../../../../../assets/img/sockets/blue.png");
        }

        .socket-D {
            background-image: url("./../../../../../../assets/img/sockets/green.png");
        }

        .socket-S {
            background-image: url("./../../../../../../assets/img/sockets/red.png");
        }

        .socket-G {
            background-image: url("./../../../../../../assets/img/sockets/white.png");
        }

        .gem-container {
            height: 47px;
            width: 47px;
            position: relative;

            :hover {
                background-position: 0 -50px;
            }

            .D-gem {
                background-image: url("./../../../../../../assets/img/sockets/green_gem.png");
            }

            .D-gem.G-gem.D {
                background-image: url("./../../../../../../assets/img/sockets/green_white_gem.png");
            }

            .I-gem {
                background-image: url("./../../../../../../assets/img/sockets/blue_gem.png");
            }

            .I-gem.G {
                background-image: url("./../../../../../../assets/img/sockets/blue_white_gem.png");
            }

            .G-gem.S {
                background-image: url("./../../../../../../assets/img/sockets/white_red_gem.png");
            }

            .G-gem.D {
                background-image: url("./../../../../../../assets/img/sockets/white_green_gem.png");
            }

            .G-gem.I {
                background-image: url("./../../../../../../assets/img/sockets/white_blue_gem.png");
            }

            .G-gem.G {
                background-image: url("./../../../../../../assets/img/sockets/white_white_gem.png");
            }

            .S-gem {
                background-image: url("./../../../../../../assets/img/sockets/red_gem.png");
            }

            .S-gem.G {
                background-image: url("./../../../../../../assets/img/sockets/red_white_gem.png");
            }
        }

        .inner-gem {
            height: 47px;
            width: 47px;
            position: relative;
        }

        .link-0-1,
        .link-0-2,
        .link-1-1,
        .link-1-2,
        .link-2-1,
        .link-2-2,
        .link-3-1,
        .link-3-2,
        .link-4-1,
        .link-4-2 {
            z-index: 20 !important;
            position: absolute;
        }

        .link-0-2,
        .link-2-2,
        .link-4-2 {
            width: 38px;
            height: 15px;
            background-image: url("./../../../../../../assets/img/sockets/link_h.png");
        }

        .link-0-1,
        .link-1-1,
        .link-1-2,
        .link-2-1,
        .link-3-1,
        .link-3-2,
        .link-4-1 {
            width: 15px;
            height: 38px;
            background-image: url("./../../../../../../assets/img/sockets/link_v.png");
        }

        .link-0-2 {
            margin-left: 28px;
            margin-top: 14px;
        }

        .link-1-2 {
            margin-left: 62px;
            margin-top: 28px;
        }

        .link-2-2 {
            margin-top: 62px;
            margin-left: 28px;
        }

        .link-3-2 {
            margin-top: 75px;
            margin-left: 16px;
        }

        .link-4-2 {
            margin-top: 109px;
            margin-left: 28px;
        }

        .link-0-1 {
            margin-left: 15px;
            margin-top: 27px;
        }

        .link-1-1 {
            margin-left: 15px;
            margin-top: 74px;
        }

        .link-2-1 {
            margin-top: 121px;
            margin-left: 15px;
        }
    }
}

.gem-tooltip {
    width: 300px;
    height: 300px;
    background: $gem-tooltip-bg-color;
}  

.inner-gem:hover .gem-tooltip {
    display: block;
}
