<mat-card class="player-badge" *ngIf="player && (selectedPlayer || selectedGenericPlayer)" (click)="selectPlayer()" [ngClass]="{'selected-player': (player?.connectionID == selectedPlayer?.connectionID && !localPlayer) || (player?.character?.name == selectedGenericPlayer?.character?.name && localPlayer)}">
  <div class="char-icon {{player.character?.class}}">

  </div>
  <div class="player-badge-content">
    <span class="mat-subheading-1"><span class="player-rank">{{getRanking() != '' ? '#' + getRanking() + ' ' : ''}}</span>{{player.character.name}}</span>
    <br/>
    <span class="mat-subheading-1">Level {{player.character.level}} {{player.character.class}}</span>
    <br/>
    <span class="player-area mat-caption">{{player.area != undefined && player.area != '' ? player.area : 'No zone entered yet'}}</span>
  </div>
</mat-card>