@import "./../../../../assets/styles/_variables.scss";

table {
    width: 100%;

    &.slim {
        tbody {
            tr {
                height: auto !important;
            }
        }
    }
}

.icon-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .networth-icon {
        max-height: 40px;

        &.slim {
            max-height: 27px;
        }
    }
}

td {
    min-height: 40px;

    &.slim {
        min-height: 0;
    }
}

.mat-cell {
    font-size: 12px !important;
    white-space: nowrap;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.corrupted {
    color: $corrupted-item-color;
}

.wide-cell {
    max-width: 300px;
}

.networth-value {
    color: $currency-chaos-color;
}

.item-quality {
    color: $item-quality-color;
}

.item-gemlevel {
    color: $item-gemlevel-color;
}

.not-available {
    color: $not-available-color;
}

.item-links {
    color: $item-links-color;
}

.name-col {
    padding: 0 10px 0 10px;
}
