<table mat-table [dataSource]="source" class="mat-elevation-z8" matSort matSortActive="value" matSortDisableClear
  matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td mat-cell *matCellDef="let element" class="icon-cell">
      <img class="networth-icon" src="{{element.icon}}" />
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="holdingPlayers" *ngIf="multiple && !showOverTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="holdingPlayers"> Owned by </th>
    <td mat-cell *matCellDef="let element"> <ng-container></ng-container> {{element.holdingPlayers.join(', ')}} </td>
  </ng-container>

  <ng-container matColumnDef="stacksize">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="stacksize"> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.stacksize}} </td>
  </ng-container>

  <ng-container matColumnDef="valuePerUnit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="valuePerUnit"> Value </th>
    <td mat-cell *matCellDef="let element" class="networth-value"> {{element.valuePerUnit.toFixed(1)}}c </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="value"> Total </th>
    <td mat-cell *matCellDef="let element" class="networth-value"> {{element.value.toFixed(1)}}c </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>