@import "./../../../../../assets/styles/_variables.scss";


.item-container {
    position: relative;
    min-width: 50px;
    text-align: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: $item-bg-color;

    &.shaper {
        // background: $shaper-bg-color;
    }
    &.elder {
        // background: $elder-bg-color;
    }
    .item {    
        z-index: 4;
        position: relative;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &.unidentified {
        background: $unidentified-item-color;
    }

    &.item-wide {
        min-width: 114px !important;
    }

    &.weapon-swap {
        background: $item-weaponswap-bg-color;
        min-height: 171px !important;
    }
    .stack-size {
        position: absolute;
        text-shadow: 2px 2px 3px #080808;
    }
    &:hover .item-tooltip {
        display: block;
    }
}