<mat-toolbar class="toolbar">
    <span class="toolbar-text title">{{ 'INFO.TITLE' | translate }}
        <span class="version">{{appVersion}} BETA</span>
    </span>
    <div class="middle-area">
        <span class="status">
            Status&nbsp;
            <mat-icon class="status-icon" [ngClass]="{'online': websiteOnline }">fiber_manual_record</mat-icon>
        </span>
    </div>
    <div class="right-area" *ngIf="electronService.isElectron()">
        <div *ngIf="sessionService.getSession() != null" class="logout-link-wrapper">
            <a (click)="logout()" class="left-link toolbar-text" >
                {{ 'ACCOUNT.LOGOUT' | translate}} </a>
        </div>
        <mat-icon (click)="minimize()" class="icon-link window-icon">minimize</mat-icon>
        <mat-icon (click)="maximize()" *ngIf="!maximized" class="icon-link window-icon">crop_square</mat-icon>
        <mat-icon (click)="unmaximize()" *ngIf="maximized" class="icon-link window-icon">filter_none</mat-icon>
        <mat-icon (click)="close()" class="icon-link window-icon">close</mat-icon>
    </div>
    <div class="right-area" *ngIf="!electronService.isElectron() && partyService.party.spectatorCode != ''">
        <a (click)="changeGroup()" class="left-link toolbar-text no-margin">
            {{ 'PARTY.CHANGE' | translate}} </a>
    </div>
</mat-toolbar>
<app-notfication-bar [appVersion]="appVersion"></app-notfication-bar>
<router-outlet></router-outlet>