<mat-toolbar class="toolbar">
    <span class="toolbar-text title">{{ 'INFO.TITLE' | translate }}
        <span class="version">{{appVersion}} BETA</span>
    </span>
    <div class="right-area" *ngIf="electronService.isElectron()">
        <a (click)="logout()" class="left-link toolbar-text" *ngIf="sessionService.getSession() != null">
            {{ 'ACCOUNT.LOGOUT' | translate}} </a>
        <mat-icon (click)="minimize()" class="icon-link window-icon">minimize</mat-icon>
        <mat-icon (click)="maximize()" *ngIf="!maximized" class="icon-link window-icon">crop_square</mat-icon>
        <mat-icon (click)="unmaximize()" *ngIf="maximized" class="icon-link window-icon">filter_none</mat-icon>
        <mat-icon (click)="close()" class="icon-link window-icon">close</mat-icon>
    </div>
    <div class="right-area" *ngIf="!electronService.isElectron()">
        <a (click)="changeGroup()" class="left-link toolbar-text no-margin">
            {{ 'PARTY.CHANGE' | translate}} </a>
    </div>
</mat-toolbar>
<app-notfication-bar [appVersion]="appVersion"></app-notfication-bar>
<router-outlet></router-outlet>