<ng-container *ngIf="item != undefined">
    <div class="tooltip-header">
        <h3 class="mat-h3 rarity-{{item.frameType}}">
            <ng-container [ngSwitch]="item.frameType">
                <ng-container *ngSwitchCase="3">
                    <!-- unique item -->
                    <div *ngIf="item.identified">{{item.name}}
                        <br />
                    </div>
                    <span>{{item.typeLine}}</span>
                </ng-container>
                <ng-container *ngSwitchCase="2">
                    <!-- rare item -->
                    <div *ngIf="item.identified">{{item.name}}
                        <br />
                    </div>
                    <span>{{item.typeLine}}</span>
                </ng-container>
                <!-- magic item -->
                <span *ngSwitchCase="1">
                    <ng-container *ngIf="item.identified">{{item.typeLine}}</ng-container>
                    <ng-container *ngIf="!item.identified">{{item.typeLine}}</ng-container>
                </span>
                <!-- normal item -->
                <span *ngSwitchCase="0">{{item.typeLine}}</span>
                <span *ngSwitchCase="4">{{item.typeLine}}</span>
                <span *ngSwitchCase="5">{{item.typeLine}}</span>
                <span *ngSwitchCase="6">{{item.typeLine}}</span>
                <span *ngSwitchCase="7">{{item.typeLine}}</span>
                <span *ngSwitchCase="8">{{item.typeLine}}</span>
            </ng-container>
        </h3>
    </div>
    <div class="tooltip-body mat-body-1">
        <ng-container *ngIf="item.properties != undefined && item.properties.length > 0 && isWeapon(item.properties)">
            <div class="stats">
                <div class="stat dps-total">
                    <span class="stat-tag">DPS</span>&nbsp;:&nbsp;<span class="stat-value">{{getTotalDps(item.properties).toFixed(1)}}</span>
                </div>
                <div class="stat dps-phys">
                    <span class="stat-tag">pDPS</span>&nbsp;:&nbsp;<span class="stat-value">{{getPhysDps(item.properties).toFixed(1)}}</span>
                </div>
                <div class="stat dps-ele">
                    <span class="stat-tag">eDPS</span>&nbsp;:&nbsp;<span class="stat-value">{{getEleDps(item.properties).toFixed(1)}}</span>
                </div>
                <br />
            </div>
            <hr>
        </ng-container>
        <div class="properties">
            <!-- properties -->
            <ng-container *ngFor="let prop of item.properties">
                <ng-container>
                    <span class="property">
                        <span class="property-tag">
                            {{formatItemProperties(prop)}}
                        </span>
                        <ng-container *ngIf="prop.values[0] != undefined">
                            :&nbsp;
                            <span [ngClass]="{'generic-mod': prop.name == 'Quality' || prop.name == 'Energy Shield' || prop.name == 'Armour' || prop.name == 'Evasion Rating'}">{{prop.values[0][0]}}</span>
                        </ng-container>
                    </span>
                    <br />
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let mod of item.utilityMods">
                <span class="enchant-mod">{{mod}}
                    <br />
                </span>
            </ng-container>
            <hr *ngIf="item.properties != undefined">
            <!-- properties -->
            <ng-container *ngFor="let prop of item.additionalProperties">
                <ng-container *ngIf="prop.progress != undefined">
                    <mat-progress-bar class="progress-bar gem-progress"
                        color="primary" mode="determinate" [value]="prop.progress * 100">
                    </mat-progress-bar>
                </ng-container>
            </ng-container>
            <hr *ngIf="item.additionalProperties != undefined">
            <div class="requirements" *ngIf="item.requirements">
                <span class="requirement">Requires </span>
                <ng-container *ngFor="let req of item.requirements, let i = index">
                    <span class="requirement">{{req.name}} </span>
                    <span class="requiremnet-value" *ngIf="req.values[0] != undefined">{{req.values[0][0]}}</span>
                    <ng-container *ngIf="item.requirements[i+1] != undefined">, </ng-container>
                </ng-container>
            </div>
            <hr *ngIf="item.requirements != undefined && (item.implicitMods != undefined || item.enchantMods != undefined || item.explicitMods != undefined || item.craftedMods != undefined || !item.identified)">
            <span *ngIf="item.identified != undefined && !item.identified" class="unidentified">Unidentified</span>
        </div>
        <ng-container *ngIf="item.secDescrText != undefined">
            <span class="descr-text descr-text-secondary mat-caption">{{item.secDescrText}}</span>
            <hr *ngIf="item.implicitMods != undefined || item.enchantMods != undefined || item.explicitMods != undefined || item.craftedMods != undefined || !item.identified">
        </ng-container>
        <div class="mods">
            <ng-container *ngFor="let mod of item.implicitMods">
                <span>{{mod}}
                    <br />
                </span>
            </ng-container>
            <ng-container *ngFor="let mod of item.enchantMods">
                <span class="enchant-mod">
                    {{mod}}
                </span>
                <br />
            </ng-container>
            <hr *ngIf="(item.implicitMods != undefined || item.enchantMods != undefined) && item.explicitMods != undefined">
            <ng-container *ngFor="let mod of item.explicitMods">
                <span *ngIf="item.frameType != 6" class="{{getExplicitModClass(mod)}}">{{mod}}
                    <br />
                </span>
                <ng-container *ngIf="item.frameType == 6">
                    <span class="div-card" [innerHtml]="formatDivCard(mod)">
                        <br />
                    </span>
                    <hr>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let mod of item.craftedMods">
                <span class="crafted-mod">
                    {{mod}}
                </span>
                <br />
            </ng-container>
            <ng-container *ngFor="let veiledMod of item.veiledMods">
                <span class="veiled-mod">
                    {{formatVeiledMod(veiledMod)}}
                </span>
                <br />
            </ng-container>
        </div>
        <ng-container *ngFor="let flav of item.flavourText">
            <span class="flavour-text mat-caption">
                {{flav}}
            </span>
            <br />
        </ng-container>
        <ng-container *ngIf="item.descrText != undefined">
            <hr *ngIf="item.implicitMods != undefined || item.enchantMods != undefined || item.explicitMods != undefined || item.craftedMods != undefined || !item.identified">
            <span class="descr-text mat-caption">{{item.descrText}}</span>
        </ng-container>
        <ng-container *ngIf="item.prophecyText != undefined">
            <hr>
            <span class="prophecy-text mat-caption">{{item.prophecyText}}</span>
        </ng-container>

        <ng-container *ngIf="item.corrupted && (item.secDescrText != undefined || item.descrText != undefined)">
            <br />
        </ng-container>
        <span *ngIf="item.shaper" class="shaper-item">Shaper
            <br />
        </span>
        <span *ngIf="item.elder" class="elder-item">Elder
            <br />
        </span>
        <span *ngIf="item.corrupted" class="corrupted">Corrupted</span>

    </div>
</ng-container>