<h1 mat-dialog-title>
  <mat-icon class="dialog-icon-right">error</mat-icon>Important information
</h1>
<div mat-dialog-content>
  <ul>
    <li>If you select the maptab, we assume all of your maps is in the maptab, and will not count maps from other tabs</li>
    <li>If you have many maps, your net worth will update more slowly with the maptab enabled</li>
    <li>Note that the maptab itself will update more seldom than the rest of your stash!</li>
    <li>The maptab is not included by GGG, and instead we have to go through the trade API, which may cause delays</li>
  </ul>
</div>
<div mat-dialog-actions class="button-area">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>