<h1 mat-dialog-title>
  <mat-icon class="dialog-icon-right">error</mat-icon>Important information
</h1>
<div mat-dialog-content>

  <p>
    DISCLAIMER: Exilence uses the pathofexile.com/trade to search for your maps. You cannot use the site with the map-tab selected. 
    It will lead to net worth fluctuations.
  </p>

  <p>The following applies when the map-tab is selected:</p>

  <li>The tab needs to be set to public for it to work</li>
  <li>The tab is not supported in SSF/private leagues</li>
  <li>No maps outside of this tab will count towards your networth</li>
  <li>Calculations of net worth may take longer to complete</li>

</div>
<div mat-dialog-actions class="button-area">
  <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Ok</button>
</div>