<h3 class="mat-h3 page-header">{{'PAGES.FAQ.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;My app suddently stopped updating and seems out of sync?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If this happens, it's most likely due to us updating the API, which disconnects you. Restart the app to
            continue using it. If it keeps happening after restarting, file a bug-report.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;How often does my character update?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is variable depending on which tab you have selected. Currency-information is updated approximately
            once very 5 minutes, but your character and inventory is updated each time you enter a new zone.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;Why does my character not update at all?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Make sure you've entered a valid path to Client.txt when logging in. If it still doesn't work, try starting
            the app as administrator.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;My inventory is not displayed at all, only equipment
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is most likely caused from an invalid or missing sessionId. Logout/restart the app and re-enter your
            sessionId. If the problem persists, contact us on discord.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;The program suddently stopped tracking area or currency
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is a known issue at the moment. We've been publishing a hotfix for this recently, but if it still
            occurs as you read this, contact us on Discord and we'll try to help.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Q:</b>&nbsp;One or more of my partymembers are not updating
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If this happens, tell your partymember to restart the app and see if the problem still persists. It should
            not keep happening with the new reconnect functionality, but if it does, please contact us.</p>
    </mat-expansion-panel>
</mat-accordion>