@import "./../../../assets/styles/_variables.scss";

.inspect-players-wrapper {
    height: $content-height;
}

.text-wrap {
    max-width: 1000px;
}

.player-list-container {
    width: 400px;
    margin-top: 3px;
    margin-right: 15px;
    overflow-y: auto;
}
.char-profile-container {
    width: 850px;
    height: $content-height;
    display: flex;
    margin-top: -10px;
}
.group-wrapper {
    height: $content-height;
}

.divider {
    margin-bottom: 5px !important;
}

.mid-text-wrapper {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}