<h3 class="mat-h3 page-header">{{'PAGES.FAQ.TITLE' | translate}}</h3>
<mat-divider class="divider"></mat-divider>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>1:</b>&nbsp;Why does my net worth or inventory not update at all?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Make sure you've entered a valid path to Client.txt when logging in. If it still doesn't work, <br />
            try starting the app as administrator. The Client.txt can be found in the same location as the game is installed. <br />
            A common mistake is to select the file from an old installation.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>2:</b>&nbsp;I'm getting "The sessionId or accountname is not valid" when trying to login?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>The way we verify your sessionId right now is by fetching the first tab in Standard. <br />
            If you're certain the accountname is correct (not email), log in on a character in Standard and open the stash, <br />
            then log out and try again.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>3:</b>&nbsp;How often does my character update?
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is variable depending on which tab you have selected. Currency-information is updated approximately<br/>
            once very 2 minutes, but your character and inventory is updated each time you enter a new zone.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>4:</b>&nbsp;My inventory is not displayed at all, only equipment
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is most likely caused from a missing sessionId. Logout/restart the app and re-enter your sessionId.<br/>
            If the problem persists, contact us on Discord.</p>
    </mat-expansion-panel>
</mat-accordion>