@import "./_variables.scss";
@import "./_mixins.scss";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./exilence-theme.scss";

.exilence {
    @include angular-material-theme($exilence-theme);
}

/* #region General */
html, body {
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $bg-color;
    height: 100%;
    font-family: $main-font;
    font-size: 15px;
}

.chaos-icon {
    height: 21px;
    width: 21px;
    content: url("./../img/chaos_orb.png");
}

.icon-hover {
    cursor: pointer;
}

.with-icon {
    &.in-table {
        padding: 0 10px 0 10px;
    }
    > * {
        vertical-align: middle;
    }
}

.full-width {
    width: 100%;
}

.span-label {
    width: 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.half-width {
    width: 50%;
}

text {
    font-size: 10px !important;
}

.external-link {
    color: $external-link-color;
}

.summary-chart {
    .chart-legend .legend-labels {
        width: 300px !important;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.no-margin {
    margin: 0 !important;
}

.top-margin {
    margin-top: 15px !important;
}

.small-checkbox{
    font-size: 14px !important;
    .mat-checkbox-inner-container {
        height: 15px !important;
        width: 15px !important;
    }
}

a {
    cursor: pointer;

    &.inline-link {
        color: $primary;
        text-decoration: none;
    }
}

.tab-group-header {
    margin-bottom: 25px;
}

.icon-link {
    cursor: pointer;
}

.header-icon {
    margin: 0 5px 16px 0;
}

.page-header {
    margin-top: 10px !important;
}

.divider {
    margin-bottom: 20px !important;
}

.progress-spinner {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    margin: auto !important;
}

/* #endregion */

/* #region Scrollbar */
::-webkit-scrollbar {
    width: 25px;
    background: #333333;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #e4e4e4;
}

.tooltip {
    display: none;
    pointer-events: none;
    z-index: 9999;
    position: absolute;
}

.player-selection-field {
    float: right;
    margin-left: 25px;
}

/* #endregion */

/* #region Forms */
.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;

    mat-form-field {
        width: 100%;
    }

    button {
        margin-right: 15px;
    }

    &.login-form {
        width: 60%;
    }

    &.welcome-back-screen {
        width: 50%;
    }

    &.group-selection-screen {
        width: 40%;
    }

    .form-error {
        color: $error-color;
    }
}

.form-title {
    text-align: right;
    text-transform: uppercase;
}

.btn-grp {
    margin-bottom: 15px;
}

/* #endregion */

/* #region Containers */
.container {
    position: absolute;
    top: $toolbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;
    background: $background-overlay, url("./../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        width: 100%;
    }
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $content-height;

    .sidenav-container {
        padding: 0 !important;
        width: 265px !important;
        padding: $container-padding;
    }

    .content-container {
        overflow: hidden;
        margin-left: 0 !important;
        padding: $content-container-padding;
        background: $background-overlay, url("./../img/main-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        overflow-y: auto;

        > *:not(router-outlet):not(mat-progress-bar) {
            width: 100%;
            // height: $content-height;
        }
        > mat-progress-bar {
            position: absolute;
            bottom: 30px;
            width: calc(100% - 50px);
        }
        &.in-electron {
            margin-left: 265px !important;
        }
    }
}

.inner-content-container {
    height: $content-height;
    display: flex;
}

.dashboard-content-container {
    height: $content-height;
    max-width: 1000px;
}

.loading-container {
    color: $font-color;
    background: $bg-color;
    width: 100%;
    height: 100%;

    .loading-content {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* #endregion */

.discord-logo {
    cursor: pointer;
    content:url("./../../assets/img/discord-logo-white.svg");
}
.patron-button {    
    cursor: pointer;
    content:url("./../../assets/img/become_a_patron.png");
}

/* #region Responsitivity */
.down-scale-inventory {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;

    // @media screen and (max-height: 950px) {
    //     transform-origin: top left;
    //     transform: scale(0.975);
    // }

    // @media screen and (max-height: 940px) {
    //     transform-origin: top left;
    //     transform: scale(0.97);
    // }
   
    @media screen and (max-height: 930px) {
        transform-origin: top left;
        transform: scale(0.96);
    }
    
    @media screen and (max-height: 920px) {
        transform-origin: top left;
        transform: scale(0.95);
    }

    @media screen and (max-height: 910px) {
        transform-origin: top left;
        transform: scale(0.94);
    }

    @media screen and (max-height: 900px) {
        transform-origin: top left;
        transform: scale(0.93);
    }

    @media screen and (max-height: 890px) {
        transform-origin: top left;
        transform: scale(0.92);
    }

    @media screen and (max-height: 900px) {
        transform-origin: top left;
        transform: scale(0.93);
    }

    @media screen and (max-height: 890px) {
        transform-origin: top left;
        transform: scale(0.90);
    }

    @media screen and (max-height: 880px) {
        transform-origin: top left;
        transform: scale(0.89);
    }

    @media screen and (max-height: 870px) {
        transform-origin: top left;
        transform: scale(0.88);
    }
    
    @media screen and (max-height: 860px) {
        transform-origin: top left;
        transform: scale(0.85);
    }
    
    @media screen and (max-height: 830px) {
        transform-origin: top left;
        transform: scale(0.80);
    }

    @media screen and (max-height: 810px) {
        transform-origin: top left;
        transform: scale(0.775);
    }

    @media screen and (max-height: 780px) {
        transform-origin: top left;
        transform: scale(0.740);
    }
}

/* #endregion */

.rarity-0 {
    //normal
    color: $rarity-normal-color !important;
}

.rarity-1 {
    // magic
    color: $rarity-magic-color !important;
}

.rarity-2 {
    // rare
    color: $rarity-rare-color !important;
}

.rarity-3 {
    // unique
    color: $rarity-unique-color !important;
}

.rarity-4 {
    // gem
    color: $rarity-gem-color !important;
}

.rarity-5 {
    // currency
    color: $rarity-currency-color !important;
}

.rarity-7 {
    // questitem
    color: $rarity-questitem-color !important;
}

/* #region Override classes for Material */
.legend-label:hover, .active, .legend-label-text, .chart-legend {
    color: #fff !important;
}

.mat-expansion-panel {
    background: #272727 !important;
}

.mat-tab-label-container {
    z-index: auto !important;
}

.mat-raised-button {
    font-size: 13px !important;
}

mat-vertical-stepper {
    background-color: $stepper-bg-color !important;
}

.mat-table {
    background: #272727 !important;
}

.mat-tab-label, .mat-tab-link {
    font-size: 14px !important;
}

.mat-toolbar-single-row {
    padding: 0 10px !important;
}

.mat-h3 {
    font-weight: 500 !important;
    font-size: 17px !important;
}

.mat-header-cell {
    font-size: 12px !important;
}

.mat-paginator {
    background: #2f2f2f !important;
}

mat-tooltip-component > .mat-tooltip {
    white-space: pre;
    font-size: 14px;
    color: #d8b100;
    background-color: #272727 !important;
    margin-left: -40px !important;
    border: #222222 4px solid;
}

.dropdown-menu {
    border: #222222 4px solid;
    background: #272727;
    padding: 0px;
    list-style-type: none;

    :last-child {
        border: 0px;
    }

    li {      
        cursor: pointer; 
        border-bottom: #222222 2px solid;
        &:hover {
            background-color: #2f2f2f;
        }

        a{
            display: block;
            padding: 10px 25px 10px 25px;
            color: white;
            text-decoration: none;
        }
    }    
}



/* #endregion */
