<mat-sidenav-container class="main-container">
  <mat-sidenav class="sidenav-container" mode="side" opened>
    <form class="form sidenav-form" [formGroup]="form" (ngSubmit)="enterParty()">
      <mat-form-field>
        <input matInput formControlName="partyCode" placeholder="{{'PARTY.CODE' | translate}}">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || partyService.code == form.controls.partyCode.value">{{'PARTY.ENTER' | translate}}</button>
    </form>
    <mat-nav-list class="sidenav">
      <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/authorized/dashboard">
        <mat-icon>home</mat-icon><a matLine>{{'PAGES.DASHBOARD.TITLE' | translate}}</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/authorized/party">
        <mat-icon>group</mat-icon><a matLine>{{'PAGES.PARTY.TITLE' | translate}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>