@import "./../../assets/styles/_variables.scss";

.sidenav {
    .active {
        background-color: $secondary;
    }
    mat-list-item {
        text-transform: uppercase;
    }
}

.sidenav-form {
    padding: $container-padding;
}

.mat-drawer {
    background: $drawer-bg-color;
}