@import "./../../assets/styles/_variables.scss";

.sidenav {
    .active {
        background-color: $secondary;
    }
    mat-list-item {
        text-transform: uppercase;
        font-size: 14px !important;
    }
}

.align-left {
    float: left;
}

.scroll {
    overflow-y: auto;
}

.spectate-link {
    font-size: 14px;
}

.sidenav-container {
    
    .bottom-area-wrapper {
        position: absolute;
        bottom: 15px;
        width: 265px !important;
        display: flex;       
        .discord-logo {
            flex: 1;
        }
    } 
    .patreon-btn-wrapper {
        position: absolute;
        bottom: 80px;
        width: 265px !important;
        display: flex;
        justify-content: center;
        .patron-button {
            height: 45px;
        }
    } 
}

.sidenav-form {
    padding: $container-padding;
}

.party-name-input {
    text-transform: uppercase;
}

.mat-drawer {
    background: $drawer-bg-color;
}

.form {
    button {
        margin-right: 0;
    }
}