@import "./../../../assets/styles/_variables.scss";

.party-headline {
    display: inline;
}

.patreon-link {
    font-size: 16px;
}

.recent-container {
    height: 125px;
    .party-headline-container {
        width: 100%;
        margin-bottom: 15px;
    }
    .recent-party-badge-container {
        float: left;

        .recent-party-badge {
            cursor: pointer;
            background: $recent-party-badge-bg-color;
            margin-right: 15px;
            max-width: 230px;
        }

        :hover {
            background: $recent-party-badge-hover-bg-color !important;
        }
    }
}
