<h2 class="mat-h2">{{'PAGES.DASHBOARD.TITLE' | translate}}</h2>
<mat-divider class="divider"></mat-divider>
<div class="dashboard-content-container">
    <h3 class="mat-headline">Welcome to ExileParty alpha, release v.0.1.0</h3>
    <p class="mat-body-1">
        This version is an alpha release, which means it's still in a very early stage. Bug reports and feature-requests are greatly
        appreciated as it will help us develop the app further, and are preferrebly posted at <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exile-party/issues')">https://github.com/viktorgullmark/exile-party/issues</a>.
    </p>
    <p class="mat-body-1">
        To see what's next, make sure to check out the readme file <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark/exile-party/blob/master/README.md')">here</a>. Feel free to contact us on github or reddit directly for
        any questions/input.
    </p>
    <p class="mat-body-1">
        <a class="inline-link" (click)="openLink('https://www.reddit.com/user/cojl_')">/u/cojl_</a><br/>
        <a class="inline-link" (click)="openLink('https://www.reddit.com/user/umocrajen')">/u/umocrajen</a><br/>
    </p>
</div>