@import "./../../../../../../../assets/styles/_variables.scss";

hr {
    border-color: $tooltip-separator-color;
}

.tooltip-header {
    padding: 0;
    border-bottom: 2px solid $tooltip-separator-color;
    background-color: $tooltip-header-bg-color;

    h3 {
        margin-bottom: 0;
        padding: 5px;

        .item-name {
            padding-bottom: 5px;
        }
    }

    .rarity-0 {
        //normal
        color: $rarity-normal-color !important;
    }

    .rarity-1 {
        // magic
        color: $rarity-magic-color !important;
    }

    .rarity-2 {
        // rare
        color: $rarity-rare-color !important;
    }

    .rarity-3 {
        // unique
        color: $rarity-unique-color !important;
    }

    .rarity-4 {
        // gem
        color: $rarity-gem-color !important;
    }

    .rarity-5 {
        // currency
        color: $rarity-currency-color !important;
    }

    .rarity-7 {
        // questitem
        color: $rarity-questitem-color !important;
    }
}

.flavour-text {
    font-style: italic;
    color: $flavour-text-color !important;
}

.descr-text {
    white-space: pre-wrap; 
    display: inline-block; 
    max-width: 400px;
    color: $tag-color;
}

.corrupted {
    color: $corrupted-item-color !important;
}

.corrupted {
    color: $unidentified-item-font-color !important;
}

.enchant-mod {
    color: $enchant-mod-color !important;
}

.tooltip-body {
    padding: 10px;

    .properties {
        .property {
            .flask-property {}
        }

        .property-tag {
            color: $tag-color;
        }
    }

    .requirements {
        .requirement {
            color: $tag-color;
        }

        .requirement-value {
            color: $font-color;
        }
    }

    .mods {
        .crafted-mod {
            color: $crafted-mod-color;
        }

        .crafted-mod-tag, .enchant-mod-tag {
            background: $tag-bg-color;
            color: $tag-font-color;
            border-radius: 3px;
            padding: 0 4px 0 4px;
        }

        .life {
            color: $mod-life-color;
        }

        .cold-res {
            color: $mod-coldres-color;
        }

        .fire-res {
            color: $mod-fireres-color;
        }

        .lightning-res {
            color: $mod-lightres-color;
        }

        .mana {
            color: $mod-mana-color;
        }

        .chaos-res {
            color: $mod-chaosres-color;
        }
    }
}
