<div class="tab-group-header">
    <mat-tab-group #tabGroup id="tabGroup" [(selectedIndex)]="selectedIndex" (selectedTabChange)="openDialog()">
        <mat-tab #currentGrpTab id="currentGrpTab" class="active">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">group</mat-icon>
                &nbsp;Overview
            </ng-template>
        </mat-tab>
        <mat-tab #summaryTab id="summaryTab">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">attach_money</mat-icon>
                &nbsp;Currency
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<div [hidden]="partyService.isEntering || selectedIndex != 0" class="group-wrapper">
    <div class="inner-content-container" *ngIf="!partyService.isEntering && selectedIndex == 0">
        <div class="player-list-container">
            <app-player-list></app-player-list>
        </div>
        <div class="char-profile-container">
            <app-char-profile></app-char-profile>
        </div>
    </div>
</div>

<div [hidden]="partyService.isEntering || selectedIndex != 1">
    <app-party-summary #tabSummary *ngIf="!partyService.isEntering && selectedIndex == 1"></app-party-summary>
</div>