@import "./../../../../../assets/styles/_variables.scss";

.char-inventory {
    border: 2px solid $inventory-border-color;
    background: $inventory-bg-color;
    position: relative;
    border-radius: 1px;
    transform-origin: top left;

    .inner-container {
        position: relative;

        .inventory-item-slot {
            position: absolute;
            top: 0;
            left: 0;
        }

        .grid-square {
            border: 1px solid $accent-dark;
            float: left;
            z-index: 3;
            position: relative;
            width: 55px;
            height: 55px;
        }
    }
}

.stashtab {
    border: none !important;
    position: absolute;
    bottom: 0;
}

.char-inventory-placeholder {
    background: $inventory-placeholder-bg-color;
    border: 2px solid $inventory-placeholder-border-color;
    height: 40px;

    .inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .error-icon {
            font-size: 16px;
            margin-top: 5px;
        }

        .error-text {
            font-size: 16px;
        }
    }
}
