@import "./../../../../assets/styles/_variables.scss";

table {
    width: 100%;
}

td {
    min-height: 48px;
}

.gain-tooltip {
    display: block;
}

.gain-cell {
    cursor: pointer;
    :hover {
        color: $primary;
    }
}
