<table mat-table [dataSource]="source" class="mat-elevation-z8" matSort matSortActive="timestamp" matSortDisableClear matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="timestamp"> Timestamp </th>
    <td mat-cell *matCellDef="let element"> {{ formatDate(element.timestamp)}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Tier Column -->
  <ng-container matColumnDef="tier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="tier"> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.tier > 0 ? element.tier : '?'}} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="time"> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time == '00:00' ? 'n/a' : element.time }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[13]" showFirstLastButtons></mat-paginator>