<table mat-table #mainTable [dataSource]="source" class="mat-elevation-z8" matSort matSortActive="timestamp"
  matSortDisableClear matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="timestamp"> Timestamp </th>
    <td mat-cell *matCellDef="let element"> {{ formatDate(element.timestamp)}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Tier Column -->
  <ng-container matColumnDef="tier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="tier"> Level </th>
    <td mat-cell *matCellDef="let element"> {{element.tier > 0 ? element.tier : '?'}} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="time"> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time == '00:00' ? 'n/a' : element.time }} </td>
  </ng-container>

  <!-- Gain Column -->
  <ng-container matColumnDef="gain">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="gain"> Gain&nbsp;&nbsp;<img class="chaos-icon" /></th>
    <td mat-cell *matCellDef="let element" class="networth-value with-icon in-table" #el>
      <div *ngIf="element?.gain != 0" class="gain-cell" (mouseenter)="updateTooltip(element, el, mainTable)" (mouseleave)="updateTooltip(undefined, el)">
        {{element.gain.toFixed(2) != '0.00' && element.gain.toFixed(2) != '-0.00' ? element.gain.toFixed(2) : '-'}}
      </div>
      <ng-container *ngIf="element == undefined || element.gain == 0">
        -
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[12]" showFirstLastButtons></mat-paginator>
<app-gain-tooltip #tooltip class="tooltip" [style.top.px]="tooltip.top" [style.left.px]="tooltip.left"
  [width]="rowWidth" [ngClass]="{'gain-tooltip': selected.timestamp > 0 && tooltip.repositioned }"></app-gain-tooltip>