<div class="char-maps">
    <div class="map-summary-wrapper">
        <div class="stat-wrapper">
            <span class="title">Average time per area</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder" *ngIf="filteredArr == null || filteredArr.length == 0">No data</span>
                <span class="stat" *ngIf="filteredArr != null && filteredArr.length > 0">{{averageTimeSpent}}</span>
            </div>
        </div>
        <div class="stat-wrapper">
            <span class="title">Areas entered</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder" *ngIf="filteredArr == null || filteredArr.length == 0">No data</span>
                <span class="stat" *ngIf="filteredArr != null && filteredArr.length > 0">{{filteredArr.length}}</span>
            </div>
        </div>
        <div class="flex-area">
            <button mat-raised-button color="primary" *ngIf="selfSelected" (click)="resetAreaHistory()" type="button" class="right-aligned">{{'MAPS.RESET' | translate}}</button>
        </div>
    </div>
    <div class="table-outer-wrapper">
        <div class="search-form-wrapper">
            <form class="form search-form" [formGroup]="form">
                <mat-form-field>
                    <input matInput formControlName="searchText" placeholder="{{'MAPS.SEARCH' | translate}}" class="search-text-input" (ngModelChange)="search()">
                </mat-form-field>
            </form>
        </div>
        <div class="map-table-wrapper">
            <app-map-table #table [player]="player" (filtered)="updateSummary($event)"></app-map-table>
        </div>
    </div>
</div>