<div class="char-maps">
    <div class="map-summary-wrapper">
        <div class="stat-wrapper">
            <span class="title">Average time per map</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder">
                    Fetching data ...
                </span>
            </div>
        </div>
        <div class="stat-wrapper">
            <span class="title">Maps ran past hour</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder">Fetching data ...</span>
            </div>
        </div>
    </div>
    <div class="map-table-wrapper">
        <app-map-table [player]="player"></app-map-table>
    </div>
</div>