<div class="char-maps">
    <div class="map-summary-wrapper">
        <div class="stat-wrapper">
            <span class="title">Average time per map</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder">
                    Fetching data ...
                </span>
            </div>
        </div>
        <div class="stat-wrapper">
            <span class="title">Maps ran past hour</span>
            <br/>
            <div class="stat-inner-wrapper">
                <span class="stat-placeholder">Fetching data ...</span>
            </div>
        </div>
    </div>
    <div class="table-outer-wrapper">
        <div class="search-form-wrapper">
            <form class="form search-form" [formGroup]="form">
                <mat-form-field>
                    <input matInput formControlName="searchText" placeholder="{{'MAPS.SEARCH' | translate}}" class="search-text-input" (ngModelChange)="search()">
                </mat-form-field>
            </form>
        </div>
        <div class="map-table-wrapper">
            <app-map-table #table [player]="player"></app-map-table>
        </div>
    </div>
</div>