<div class="container">
  <div class="content-container">
    <div class="centered-content text-block">
      <h1 class="mat-h1">Could not connect to Exilence server</h1>
      <div class="mat-body-1">
        This can be caused for multiple reasons. But we listed the most probable ones below:
        <ul>
          <li>We did an update (yay!)</li>
          <li>The connection to the server has timed out due to user inactivity (60 minutes)</li>
          <li>We experienced some connectivity issues between our server and your client</li>
          <li>Exilence is down for maintenance (should be up within 30 minutes)</li>
          <li>
            <a class="inline-link" (click)="openLink('https://www.pathofexile.com')">https://www.pathofexile.com</a> is
            down for maintenance</li>
        </ul>
        We recommend that you close the application fully, and if prompted, install the new update to keep gaming!
        <br />
        <br />
      </div>
      <p class="mat-body-1">
        Feel free to contact us on GitHub, Discord or directly in-game if you experiece any problems with Exilence:
      </p>
      <p class="mat-body-1">
        <a class="inline-link" (click)="openLink('https://discord.gg/ymr3VnA')">Join our Discord</a>
        <br />
        <a class="inline-link" (click)="openLink('https://github.com/viktorgullmark')">github.com/viktorgullmark</a>
        ign: CojL
        <br />
        <a class="inline-link" (click)="openLink('https://github.com/petterannerwall')">github.com/petterannerwall</a>
        ign: Umaycry
      </p>
      <p>
        <button mat-raised-button color="primary" (click)="relaunch()" class="relaunch-btn">Relaunch Exilence</button>
      </p>
    </div>
  </div>
</div>